<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Issue</title>
    <link rel="stylesheet" href="../static/css/ticketissue.css">
</head>
<body>
    <div class="container">
        <h1>Ticket Issue</h1>
        <form id="ticket-issue-form" th:action="@{/ticket/new}" th:object="${ticket}" class="form-floating" method="post">
            <div class="form-group">
                <label for="vehicle-number">Vehicle Number:</label>
                <input type="text" id="vehicle-number" name="vehicle-number" th:field="*{vehicleNumber}" required>
            </div>

            <div class="form-group">
                <label for="ticket-number">Ticket Number:
                <label th:text="${ticket.getTicketNumber()}"></label>
                </label>

            </div>

            <div class="form-group">
                <input type="submit" value="Issue Ticket"  href="ticketIssue.html"  class="issue-btn">
            </div>
        </form>
    </div>
</body>
</html>
