<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">

    <head th:replace="header :: header-css"></head>
<body>
<div th:replace="header :: header"></div>
<div class="container">
    <h1>Login</h1>
    <form id="login-form" autocomplete="off" th:action="@{/login}" class="form-signin" method="POST">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Login" class="login-btn">
        </div>
    </form>

    <p class="signup-link">Don't have an account? <a th:href="@{/register}" class="signup-btn">Signup</a></p>
</div>
<div th:replace="footer :: footer"></div>

</body>
</html>


